.App {
  height: 100vh;
}
.Head {
  height: 40vh;
  font-size: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Butt {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.Count {
  height: 40vh;
  font-size: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #00adb5;
  border: outset 2px white;
  cursor: pointer;
}
button:disabled {
  background-color: #004c50;
  border: inset 2px white;
  cursor: no-drop;
}
